@model IEnumerable<TaskManagement.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<h3>Unvalidated Users</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(u => !u.IsValidated))
        {
            <tr>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td style="text-align: center;">
                    <form asp-action="Accept" method="post" style="display: inline-block;">
                        <input type="hidden" name="id" value="@item.UserID" />
                        <button type="submit" class="btn btn-success">Accept</button>
                    </form>
                    <a asp-action="Delete" asp-route-id="@item.UserID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Validated Users</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(u => u.IsValidated))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Create New</a>